Repository imriShCodeArt/ai-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cs-fixer, phpstan, psalm, phpunit, security-scan

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: php-cs-fixer
        name: PHP CS Fixer
        entry: composer cs-fix
        language: system
        files: \.php$
        pass_filenames: false

      - id: phpstan
        name: PHPStan
        entry: composer phpstan
        language: system
        files: \.php$
        pass_filenames: false

      - id: psalm
        name: Psalm
        entry: composer psalm
        language: system
        files: \.php$
        pass_filenames: false

      - id: phpunit
        name: PHPUnit
        entry: composer test
        language: system
        files: \.php$
        pass_filenames: false

      - id: security-scan
        name: Security Scan
        entry: composer security-scan
        language: system
        files: composer\.(json|lock)$
        pass_filenames: false

test: bump version to 0.2.1 to test release workflow (#46)
  ai-agent.php
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: resolve release workflow conflicts (#45)
  .github/workflows/release.yml
Due: none

feat: enhance testing infrastructure with comprehensive test coverage
  composer.json
  phpunit.xml.dist
  psalm.xml
  tests/Integration/PluginActivationTest.php
  tests/Performance/DatabasePerformanceTest.php
  tests/Unit/Application/Providers/AdminServiceProviderTest.php
  tests/Unit/Core/AutoloaderTest.php
  tests/Unit/Domain/Entities/ExampleEntityTest.php
  tests/Unit/Infrastructure/Hooks/HooksLoaderTest.php
  tests/Unit/Infrastructure/Security/CapabilitiesTest.php
  tests/Unit/REST/Controllers/BaseRestControllerTest.php
  tests/Unit/Support/PostFactory.php
  tests/Unit/Support/UserFactory.php
Due: php-cs-fixer, phpstan, psalm, phpunit, security-scan

feat: enhance code quality and security hardening
  .pre-commit-config.yaml
  composer.json
  phpcs.xml.dist
  phpstan.neon.dist
  scripts/security-audit.php
  src/Infrastructure/Security/Policy.php
  src/REST/Controllers/ChatController.php
Due: php-cs-fixer, phpstan, psalm, phpunit, security-scan

feat: complete comprehensive documentation foundation
  README.md
  docs/DEVELOPER_GUIDE.md
  docs/api/openapi.yaml
  src/Core/Autoloader.php
  src/Core/Plugin.php
Due: php-cs-fixer, phpstan, psalm, phpunit

docs: mark Phase 1 TODOs as completed
  readme/phase-1/PHASE_1_TODOS.md
Due: none

fix: resolve PHPStan level 8 errors
  src/Application/Providers/AdminServiceProvider.php
  src/Frontend/ChatWidget.php
  src/Infrastructure/Security/Policy.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat: add comprehensive testing infrastructure and validation
  TESTING_GUIDE.md
  test-basic.php
  test-basic.ps1
  test-simple.ps1
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: resolve test failures in CI pipeline
  tests/Integration/PluginActivationTest.php
  tests/Unit/Domain/Entities/ExampleEntityTest.php
  tests/Unit/Infrastructure/Hooks/HooksLoaderTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: resolve remaining test errors in CI pipeline
  tests/Integration/PluginActivationTest.php
  tests/Unit/Domain/Entities/ExampleEntityTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

chore: bump version to 0.2.0 for Phase 1 completion
  ai-agent.php
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: disable release workflow to prevent conflicts with auto-version workflow
  .github/workflows/release.yml
Due: none

test: verify workflow fix with test commit
  README.md
Due: none

test: bump version to 0.2.1 to test release workflow
  ai-agent.php
Due: php-cs-fixer, phpstan, psalm, phpunit

fix: disable release workflow trigger to prevent conflicts
  .github/workflows/release.yml
Due: none

docs: update Phase 1 TODOs with completion summary and final status
  readme/phase-1/DONE-PHASE_1_TODOS.md
Due: none

docs: update merge strategy guide with actual repository settings and workflow fixes
  readme/MERGE_STRATEGY_GUIDE.md
Due: none

docs: mark Phase 1 completed in development guide; add Phase 2 TODOs
  readme/#1-DEVELOPMENT_PROCESS.md
  readme/phase-2/TODOS.md
Due: none

docs(phase-1): git mv PHASE_1_TODOS.md -> DONE-PHASE_1_TODOS.md and keep completed content
  readme/phase-1/PHASE_1_TODOS.md
Due: none

docs(phase-2): rename TODOS.md -> PHASE_2_TODOS.md to match naming convention
  readme/phase-2/PHASE_2_TODOS.md
Due: none

feat(phase-2): LLM providers and tool system scaffolding (#48)
  src/Application/Providers/RestApiServiceProvider.php
  src/Infrastructure/LLM/ClaudeProvider.php
  src/Infrastructure/LLM/LLMProviderInterface.php
  src/Infrastructure/LLM/OpenAIProvider.php
  src/Infrastructure/Security/Capabilities.php
  src/Infrastructure/Tools/ToolExecutionEngine.php
  src/Infrastructure/Tools/ToolInterface.php
  src/Infrastructure/Tools/ToolRegistry.php
  tests/Unit/Infrastructure/LLM/OpenAIProviderTest.php
  tests/Unit/Infrastructure/Tools/ToolRegistryTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat(phase-2): scaffold LLM providers and tool system with container bindings and tests
  src/Application/Providers/RestApiServiceProvider.php
  src/Infrastructure/LLM/ClaudeProvider.php
  src/Infrastructure/LLM/LLMProviderInterface.php
  src/Infrastructure/LLM/OpenAIProvider.php
  src/Infrastructure/Tools/ToolExecutionEngine.php
  src/Infrastructure/Tools/ToolInterface.php
  src/Infrastructure/Tools/ToolRegistry.php
  tests/Unit/Infrastructure/LLM/OpenAIProviderTest.php
  tests/Unit/Infrastructure/Tools/ToolRegistryTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat(phase-2): OpenAI integration, validator, text.summarize tool (#49)
  src/Application/Providers/RestApiServiceProvider.php
  src/Infrastructure/LLM/OpenAIProvider.php
  src/Infrastructure/Tools/TextSummarizeTool.php
  src/Infrastructure/Tools/Validator.php
  tests/Unit/Infrastructure/LLM/OpenAIProviderTest.php
  tests/Unit/Infrastructure/Tools/TextSummarizeToolTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat(phase-2): chat wiring, validator enhancements, tests (#50)
  src/Application/Providers/RestApiServiceProvider.php
  src/Infrastructure/Tools/Validator.php
  src/REST/Controllers/ChatController.php
  tests/Unit/Infrastructure/Tools/ValidatorTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

fix(phase-2): align ToolExecutionEngine with Policy and AuditLogger; use current_user_can; add EXECUTE_TOOL cap
  src/Infrastructure/Security/Capabilities.php
  src/Infrastructure/Tools/ToolExecutionEngine.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat(phase-2): OpenAI HTTP integration, schema validator, text.summarize tool, registry wiring
  src/Application/Providers/RestApiServiceProvider.php
  src/Infrastructure/LLM/OpenAIProvider.php
  src/Infrastructure/Tools/TextSummarizeTool.php
  src/Infrastructure/Tools/Validator.php
  tests/Unit/Infrastructure/Tools/TextSummarizeToolTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

test(phase-2): make OpenAIProvider test WP-agnostic; provider falls back when WP funcs absent
  src/Infrastructure/LLM/OpenAIProvider.php
  tests/Unit/Infrastructure/LLM/OpenAIProviderTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

test(phase-2): make OpenAIProvider assertion generic (non-empty string)
  tests/Unit/Infrastructure/LLM/OpenAIProviderTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat(phase-2): wire ChatController to LLM and ToolExecutionEngine; enhance Validator with minLength/enum; add tests
  src/Application/Providers/RestApiServiceProvider.php
  src/Infrastructure/Tools/Validator.php
  src/REST/Controllers/ChatController.php
  tests/Unit/Infrastructure/Tools/ValidatorTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

docs(phase-2): mark tasks completed and note remaining optional items
  readme/phase-2/PHASE_2_TODOS.md
Due: none

feat(phase-2): add posts.create and posts.update tools; register; add unit and error-path tests
  src/Application/Providers/RestApiServiceProvider.php
  src/Infrastructure/Tools/PostsCreateTool.php
  src/Infrastructure/Tools/PostsUpdateTool.php
  tests/Unit/Infrastructure/Tools/PostsCreateToolTest.php
  tests/Unit/Infrastructure/Tools/PostsUpdateToolTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

test(phase-2): increase coverage with registry error, chat wiring, and LLM fallback tests
  tests/Unit/Infrastructure/LLM/OpenAIProviderErrorTest.php
  tests/Unit/Infrastructure/Tools/ToolRegistryNotFoundTest.php
  tests/Unit/REST/Controllers/ChatControllerWiringTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat(phase-2): more tools and higher coverage (#51)
  readme/phase-2/PHASE_2_TODOS.md
  src/Application/Providers/RestApiServiceProvider.php
  src/Frontend/ChatWidget.php
  src/Infrastructure/Tools/PostsCreateTool.php
  src/Infrastructure/Tools/PostsUpdateTool.php
  src/Infrastructure/Tools/ToolExecutionEngine.php
  tests/Unit/Infrastructure/LLM/OpenAIProviderErrorTest.php
  tests/Unit/Infrastructure/Tools/PostsCreateToolTest.php
  tests/Unit/Infrastructure/Tools/PostsUpdateToolTest.php
  tests/Unit/Infrastructure/Tools/ToolExecutionEngineTest.php
  tests/Unit/Infrastructure/Tools/ToolRegistryNotFoundTest.php
  tests/Unit/REST/Controllers/ChatControllerWiringTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat(phase-2): execute suggested actions via dry-run; make engine/audit WP-safe; add policy-denied test
  src/Frontend/ChatWidget.php
  src/Infrastructure/Tools/ToolExecutionEngine.php
  tests/Unit/Infrastructure/Tools/ToolExecutionEngineTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

test: fix final class mocking by using real Policy and AuditLogger in unit tests
  tests/Unit/Infrastructure/Tools/ToolExecutionEngineTest.php
  tests/Unit/REST/Controllers/ChatControllerWiringTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat(phase-2): finalize tools + coverage and WP-safe policy (#52)
  src/Application/Providers/RestApiServiceProvider.php
  src/Frontend/ChatWidget.php
  src/Infrastructure/Security/Policy.php
  src/REST/Controllers/ChatController.php
  tests/Unit/Infrastructure/LLM/OpenAIProviderHttpErrorTest.php
  tests/Unit/Infrastructure/Tools/AuditLoggerNoWpTest.php
  tests/Unit/Infrastructure/Tools/ToolExecutionEngineAllowedTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

test: avoid mocking final ToolExecutionEngine; use real instance for wiring test
  tests/Unit/REST/Controllers/ChatControllerWiringTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit

feat(phase-2): docs + UI execute + coverage + WP-safe policy (#53)
  readme/#1-DEVELOPMENT_PROCESS.md
  readme/phase-2/PHASE_2_TODOS.md
Due: none

feat(phase-2): add execute endpoint; wire ChatWidget to dry-run then execute
  src/Application/Providers/RestApiServiceProvider.php
  src/Frontend/ChatWidget.php
  src/REST/Controllers/ChatController.php
Due: php-cs-fixer, phpstan, psalm, phpunit

test(coverage): add allowed-path run, LLM HTTP error fallback, and audit instantiation tests
  tests/Unit/Infrastructure/LLM/OpenAIProviderHttpErrorTest.php
  tests/Unit/Infrastructure/Tools/AuditLoggerNoWpTest.php
  tests/Unit/Infrastructure/Tools/ToolExecutionEngineAllowedTest.php
Due: php-cs-fixer, phpstan, psalm, phpunit
